@model Parcial2_AriasRoldanNatalia.DAL.Entities.Ticket

<h1>Detalles de Boleto</h1>

<div>
    <h4>Ticket @Model.id</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntranceGate.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntranceGate.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index"> Registrar nueva entrada</a>
</div>
